.coming-soon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: var(--softblack);
    font-family: var(--fira);
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 1.5rem;
}

